body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Dropdown  */
:root {
  --background: #0d131a;
  --button-color: #d8165b;
}

.navbar {
  width: 100%;
  display: flex;
  border: 1px solid;
  border-bottom-color: #2ad37e;
}
.Dropdown-Component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dropdown-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dropdownbtn {
  position: relative;
  width: 200px;
  padding: 10px;
  border: none;
  background-color: var(--button-color);
  color: white;
  font-weight: 600;
  font-size: large;
  outline: none;
}
#dropdownbtn:hover {
  cursor: pointer;
  /* transform: scale(1.2); */
}
#dropdownbtn::after {
  content: '';
  border: 10px solid transparent;
  border-top-color: white;
  position: absolute;
  left: 85%;
  transition: 0.5s all ease-out;
}
#dropdownbtn:hover::after {
  transform: scale(1.1);
  border-top-color: #2ad37e;
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown #menu {
  position: absolute;
  margin-top: 60px;
}
.drop-item {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  width: 130px;
  background-color: #2ad37e;
  transition: 0.25s all ease-in-out;
}
.drop-item:hover {
  transform: scale(1.1);
}
.selected {
  background: #d8165b;
}

/* button */

.Button-Component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn {
  width: 162px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  background: var(--button-color);
  border-radius: 100px;
  position: relative;
}

.tooltip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  text-align: center;
  /* height: 34px; */

  background: #e0ebe5;
  color: var(--button-color);
  border: 2px solid var(--button-color);
  border-radius: 10px 20px 50px 50px;
}

#left {
  transition: 1s transform;
  left: -110px;
  /* transform: rotate(90deg); */
}

#right {
  right: -110px;
}
#bottom {
  bottom: -110px;
}
#top {
  top: -110px;
}

#top::after {
  content: '';
  border: 10px solid transparent;
  position: absolute;
  border-top-color: var(--button-color);
  top: 100%;
  left: 45%;
}

#left::after {
  content: '';
  border: 10px solid transparent;
  position: absolute;
  border-left-color: var(--button-color);
  top: 50%;
  left: 100%;
}
#bottom::after {
  content: '';
  border: 10px solid transparent;
  position: absolute;
  border-bottom-color: var(--button-color);
  top: -20%;
  left: 45%;
}
#right::after {
  content: '';
  border: 10px solid transparent;
  position: absolute;
  border-right-color: var(--button-color);
  top: 50%;
  left: -20%;
}

.hide {
  display: none;
}
